# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## SonarQube local Docker volumes and directories
sonarqube_data/
sonarqube_logs/
sonarqube_extensions/
postgresql/
postgresql_data/
.scannerwork/
CDashSummary.log

#sql db
*.sqlite3

#vscode
.vscode

#valgrind ignore issues
sqlvalgrind.supp

#docs
docs/1_lab.pdf

#build
build/
venv/